main
	flex-grow: 1
	height: 1px
	display: grid
	grid-template-rows: 1fr
	grid-template-columns: 0.2fr 0.8fr auto
	align-items: stretch
	position: relative
	&.loading
		& > :not( .loading )
			filter: blur( 5px )
		&:before
			content: ""
			position: absolute
			top: 0px
			right: 0px
			bottom: 0px
			left: 0px
			z-index: 1000
			background: rgba(255,255,255, .75)
		.loading
			position: absolute
			top: 0px
			right: 0px
			bottom: 0px
			left: 0px
			margin: auto
			z-index: 1001
			&:before
				font-size: 6rem !important

	.hidden
		display: none !important

.AsidePage
	& > em
		position: fixed
		top: 3rem
		left: 4rem
		// &.announcement
		// 	// border-image: 

.NavigationPage
	display: grid;
	grid-template-rows: auto 1fr auto
	grid-template-columns: 1fr
	box-sizing: border-box
	transition: width .3s ease-in-out
	& > section > h3
		width: 100%
		display: flex
		flex-direction: column
		:first-child
			align-self: flex-start
		:last-child
			align-self: flex-end
	& > kbd
		width: 3rem
		height: 3rem
		font-size: 2rem
		grid-area: 1/1/2/2
		@media (orientation: portrait)
			&
				display: none
	:empty + kbd
		display: none
		width: 0px
	& > section
		grid-area: 2/1/3/2
		padding: 2rem 1rem
		display: flex
		flex-direction: column
		grid-gap: 1rem
		gap: 1rem
		align-items: center
		& > div
			width: 100%
	[contenteditable]
		margin: 0px
		padding: 1em
		cursor: text
		flex-grow: 1
		&:hover:not(:focus):after
			content: '\270E ...'
			color: var( --extra-color )
			font: var( font-text )
			line-height: 0%
			display: inline-block
			transform: rotate( 180deg ) translate( -1.5ex, -1ex) scale( 1.5 )

		&:empty:before
			content: attr(data-placeholder)
			color: var( --extra-color )


	dl
		display: grid
		grid-template-columns: auto 1fr
		grid-gap: 1rem
		gap: 1rem
		padding: 0px
		margin: 0px
		dt
			justify-self: flex-end
			font: var( --font-title )
			font-size: 1rem
			align-self: center
			&:after
				content: ": "
		dd
			padding: 0px
			margin: 0px
			justify-self: flex-start
			align-self: center
			& > time
				font-size: 1rem

	& > ul
		grid-area: 2/1/3/2
		list-style: none
		margin: 0px
		padding: 0px
		place-self: stretch
		overflow: none auto
		display: flex
		flex-direction: column
		position: relative
		overflow: hidden auto
		background: var(--canvas-color )
		abbr
			width: 2rem
			min-width: 2rem
			height: 2rem
			margin-left: .5rem
			position: relative
			.iq.input
				width: 2rem
			& > samp
				font-size: 1.3rem

		li
			position: relative
			min-width: 3rem
			width: 3rem
			transition: width .3s ease-in-out
			a
				display: block
				overflow: hidden
				display: flex
				align-items: center
			span
				flex-grow: 1
				box-sizing: border-box
				padding: 0px 1rem
				width: 0px
				overflow: hidden
				white-space: nowrap
				text-overflow: ellipsis
				transition: padding .1s ease-in-out
	&.open
		width: 19rem
		ul
			li
				width: 100%
	@media (orientation: portrait)
		& > ul
			border-right: var(--border)
			padding: 1rem 0px
			width: 3rem
			transition: width .3s ease-in-out
		&.open
			width: 3rem
			& > ul
				width: 19rem
				z-index: 100

.ArticlePage
	align-self: stretch
	display: grid
	grid-template-rows: auto 1fr
	grid-template-columns: auto 1fr
	grid-gap: 1rem
	gap: 1rem
	.date-state-calendar
		display: grid
		grid-template-rows: 14rem 14rem
		grid-template-columns: auto auto
		grid-gap: 2rem 1rem
		gap: 2rem 1rem
		align-items: center
		position: absolute
		right: 0rem
		top: 5rem
		overflow: hidden
		padding: 1rem 4.5rem 1rem 1rem
		& > span
			border: var(--border)
			width: 9rem
			margin-right: -7rem
			padding: 0px .5rem
			border-radius: .5rem
	.calendar
		display: flex
		align-items: center
		justify-content: center
		ol
			list-style: upper-roman inside
			margin: 0px
			padding: 0px
			position: relative
			padding: .5rem
			&:not( :active )
				transition: transform 1s
			&:first-child
				width: 14rem
				height: 14rem
				display: flex
				align-items: center
				justify-content: center
				color: var( --extra-color )
				margin-right: -4.5rem
				li
					position: absolute
					width: 15rem
					cursor: pointer
					line-height: 0px
					&:hover::marker
						color: var( --focus-color )
			&:last-child
				border: var( --border )
				border-radius: 50%
				width: 7rem
				height: 7rem
				display: flex
				align-items: center
				justify-content: center
				margin-left: -7rem
				li
					color: var( --extra-color )
					position: absolute
					width: 7rem;
					cursor: pointer
					line-height: 0px
					&:hover::marker
						color: var( --focus-color )
			.prohibited
				opacity: .2
	h2
		margin: 1rem
		padding: 0px 1rem
		grid-area: 1/1/2/3
		display: grid
		grid-template-rows: 1fr auto
		grid-template-columns: 1fr auto
		grid-gap: 1rem
		gap: 1rem
		aside
			grid-area: 1/2/3/3
			font: var( --font--text )
			font-size: .8rem
			display: flex
			align-items: center
			gap: 1rem
			grid-gap: 1rem
			kbd > img
				max-width: 2rem
				max-height: 2rem
				cursor: pointer
			em
				font-weight: normal
				color: var( --info-color )
		& + div
			width: 50vw
			position: relative
			img
				min-width: 100%
				max-width: 58vw
				& + svg
					position: absolute
					z-index: 1
					top: 0px
					left: 0px
			polygon
				fill: rgba(0,0,0,0.01)
				cursor: pointer
				&:hover
					stroke: red
					stroke-width: .3rem

	& > div:last-child
		grid-area: 2/2/3/3
		justify-self: stretch
		align-self: flex-end
		position: relative
		svg
			position: absolute
			z-index: 1
			top: 0px
			left: 0px
			width: 100%
			height: 100%
			polygon
				fill: rgba(0,0,0,0.01)
				cursor: pointer
				&:hover
					stroke: red
					stroke-width: 3px
		img
			width: 100%


.state-messages
	border: var(--border)
	color: var( --extra-color )
	padding: 3rem
	background: var( --canvas-color )
	font-size: 1.5rem
	&:before
		content: ""
		background: var( --canvas-color ) url('../images/calendar-50.png') no-repeat center center
		background-size: 70%
		padding: 1rem
		border: var(--border)
		border-radius: 50%
		position: absolute
		left: 0px
		right: 0px
		margin: auto
		width: 4rem
		height: 4rem
		bottom: -3rem
	&.announcement
		border-color: var( --info-color )
		&:before
			border-color: var( --info-color )
			background: var( --canvas-color ) url('../images/dove.png') no-repeat center center
			background-size: 70%
	&.warning
		border-color: var( --warning-color )
		&:before
			border-color: var( --warning-color )
			background: var( --canvas-color ) url('../images/cerber.png') no-repeat center center
			background-size: 70%
	&.invalid
		border-color: var( --invalid-color )
		&:before
			border-color: var( --invalid-color )
			background: var( --canvas-color ) url('../images/skull.png') no-repeat center center
			background-size: 70%
